install.packages("xts")
install.packages("vars")
install.packages("readr")
install.packages("zoo")
install.packages("ggplot2")
install.packages("ggthemes")
install.packages("mFilter")
install.packages("readxl")
install.packages("urca")
install.packages("seasonal")
install.packages("tsDyn")
install.packages("egcm")
install.packages("dynlm")
install.packages("cowplot")
install.packages("aTSA")